<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webmoney</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"/>
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-diagoona.css')}}">

    <style>
        .div1 {
    font-size: 32px;



    text-align:center;

}


    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm ">
    <a href="/"><i class="fas fa-coins fa-3x mt-1 tm-logo"></i> </a>
    <h2 class="tm-sitename text-uppercase" id="webmon">Webmoney</h2>

    <ul class="navbar-nav ml-auto">
        <a href="{{ url_for('api_blueprint.auth_blueprint.logout') }}" class="nav-link">
            Logout
        </a>
    </ul>
</nav>


<ul class="div1">
    {% for bill in bills %}
    <li> {{bill[0]}}    :    {{bill[1]}} - <a href="#">деактивировать</a></li>
    {% endfor %}
</ul>

</body>
